.show {
  width: 700px; }
  .show .show_content {
    width: 700px;
    margin: 8px auto; }
    .show .show_content .show_l {
      width: 222px;
      height: 564px;
      background: #CCCCCC;
      float: left; }
    .show .show_content .show_l:after {
      display: block;
      clear: both;
      content: ""; }
    .show .show_content .show_c {
      width: 680px;
      border-bottom: 1px solid #CCCCCC;
      margin-bottom: 14px;
      padding: 6px; }
      .show .show_content .show_c span {
        float: left;
        padding-left: 6px;
        font-weight: bold; }
    .show .show_content .show_r {
      margin-left: 18px;
      width: 700px;
      float: left; }
.show .show_content .show_r .show_box{
  height: 740px;
}
      .show .show_content .show_r .show_box li {
        margin: 0 27px;
        margin-right: 24px;
        float: left;
        width: 182px;
        height: 156px;
        margin-bottom: 34px; }
        .show .show_content .show_r .show_box li a {
          display: block; }
          .show .show_content .show_r .show_box li a img {
            border: 1px solid #7F7F7F;
            padding: 4px 4px;
            width: 174px;
            height: 128px; }
          .show .show_content .show_r .show_box li a p {
            margin-top: -4px;
            width: 184px;
            height: 22px;
            background: #7F7F7F;
            text-align: center;
            color: white;
            line-height: 22px; }
.show .show_content .show_r .show_btn{
  width: 300px;
margin: 0 auto;
}
.show .show_content .show_r .show_btn p{
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background: #d0d0d0;
  color: #868686;
  margin-right: 6px;
  line-height: 30px;
  text-align: center; }
.show .show_content .show_r .show_btn p.one {
  width: 34px;
  height: 34px;
  background: #444444;
  margin-top: -2px;
  line-height: 34px; }
.show .show_content .show_r .show_btn p.one a {
  color: #ffffff; }
.show .show_content .show_r .show_btn p.gt {
  margin-right: 2px; }
.show .show_content .show_r .show_btn p:hover {
  width: 34px;
  height: 34px;
  background: #444444;
  margin-top: -2px;
  line-height: 34px; }
.show .show_content .show_r .show_btn p:hover a {
  color: #ffffff; }
    .show .show_content .show_btn button:nth-of-type(1) {
      margin-left: 304px;
      background: #000;
      color: white; }

.show:after {
  display: block;
  clear: both;
  content: ""; }

.show_content:after {
  display: block;
  clear: both;
  content: ""; }

.show_r:after {
  display: block;
  clear: both;
  content: ""; }

.content {
  height: 1095px; }

.contact_box {
  width: 700px;
  height: 807px;
   }

.contact_box_sales {
  width: 700px;
  height: 40px;
  border-bottom: 1px solid #dfdfdf; }

.contact_box_sales:after {
  display: block;
  clear: both;
  content: ""; }

.contact_box_sales span {
  font-size: 12px;
  margin-top: 14px;
  float: left;
  padding-left: 6px;
  font-weight: bold; }

.contact_box_sales img {
  float: left;
  margin-top: 14px;
  line-height: 40px;
  margin-left: 6px; }

.activity_box_mainOne {
  width: 698px;
  height: 198px;
  border-bottom: 1px dashed silver; }

.contact_box_mainOne:after {
  display: block;
  clear: both;
  content: ""; }

.contact_box_mainOne .mainOne_right {
  width: 534px;
  height: 198px;
  float: left; }

.mainOne_right:after {
  display: block;
  clear: both;
  content: ""; }

.mainOne_right > .mainOne_rightOne {
  float: left;
  height: 198px;
  margin-left: 20px; }

.mainOne_rightOne .rightOne_titleOne {
  margin-top: 20px; }

.mainOne_rightOne > p {
  font-size: 14px;
  font-weight: bold; }

.mainOne_rightOne > p span {
  font-size: 12px; }

.mainOne_rightOne .rightOne_titleTwo {
  margin-top: 14px; }

.mainOne_rightOne .rightOne_titleThree {
  margin-top: 16px; }

.mainOne_rightOne .rightOne_titleThree p {
  font-size: 14px;
  font-weight: bold; }

.mainOne_rightOne .rightOne_titleThree a img {
  margin-left: 10px; }

.rightOne_titleThree:after {
  display: block;
  clear: both;
  content: ""; }

.rightOne_titleThree p {
  float: left; }

.mainOne_rightOne .rightOne_titleFour {
  margin-top: 16px; }

.mainOne_rightOne > input {
  width: 110px;
  height: 26px;
  background: linear-gradient(#fafafb, #e7e7e7);
  border-radius: 3px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-top: 46px; }

.mainOne_rightOne .rightOne_titleFive {
  margin-top: 30px; }

#container {
  width: 614px;
  height: 407px;
  margin-top: 14px; }

.mainOne_rightOne span {
  font-weight: normal; }

/*# sourceMappingURL=coupon.css.map */
